first_spring_program/src/main/resources/xsd/handbook.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.12.7658 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="HandBook" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tablix5">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Textbox70">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Textbox28">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Textbox48">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Textbox120">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Textbox56">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="Textbox145">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="InstallmentName_Collection">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="InstallmentName">
                                                          <xs:complexType>
                                                            <xs:attribute name="InstallmentName2" type="xs:string" use="optional" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Textbox146" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="WardName_Collection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="WardName">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Textbox114">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Textbox145">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="InstallmentName_Collection">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="InstallmentName" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Textbox146" />
                              </xs:sequence>
                              <xs:attribute name="Textbox114" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Street1_Collection">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Street1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Textbox115">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="Textbox145">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="InstallmentName_Collection">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="InstallmentName" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Textbox146" />
                                          </xs:sequence>
                                          <xs:attribute name="Textbox115" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="Balance_Tax2">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="AssesmentNo_Collection">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="AssesmentNo">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="WUConnectionNo">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element minOccurs="0" name="OwnerFName">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element minOccurs="0" name="NewDoorNo">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element minOccurs="0" name="Textbox145">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element minOccurs="0" name="InstallmentName_Collection">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element minOccurs="0" name="InstallmentName">
                                                                                        <xs:complexType>
                                                                                          <xs:attribute name="Balance_Tax" type="xs:decimal" use="optional" />
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element minOccurs="0" name="Textbox146">
                                                                            <xs:complexType>
                                                                              <xs:attribute name="Textbox130" type="xs:unsignedShort" use="optional" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="NewDoorNo" type="xs:string" use="optional" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                  <xs:attribute name="OwnerFName" type="xs:string" use="optional" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="WUConnectionNo" type="xs:string" use="optional" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="Textbox26" type="xs:unsignedShort" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Textbox172">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="Textbox145">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="InstallmentName_Collection">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element minOccurs="0" name="InstallmentName">
                                                                <xs:complexType>
                                                                  <xs:attribute name="Textbox189" type="xs:decimal" use="optional" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="Textbox146">
                                                    <xs:complexType>
                                                      <xs:attribute name="Textbox179" type="xs:decimal" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Textbox180">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Textbox181">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Textbox145">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="InstallmentName_Collection">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="InstallmentName">
                                                    <xs:complexType>
                                                      <xs:attribute name="Textbox187" type="xs:decimal" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="Textbox146">
                                        <xs:complexType>
                                          <xs:attribute name="Textbox183" type="xs:decimal" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Textbox139" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="optional" />
      <xs:attribute name="Textbox89" type="xs:string" use="optional" />
      <xs:attribute name="Textbox1" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>